@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #97654c;
}

#nav {
  width: 100%;
  height: 110px;
  padding: 20px 0 5px 0;
  border-bottom: solid 8px #01c5ab;
  box-shadow: 1px 50px 50px #035d99;
  position: absolute;
  top: 0;
}

#title {
  color: #625a56;
  margin: 0;
  font-family: "Baloo Bhaina";
  text-transform: uppercase;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
}

.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #0313a0;
  padding: 0.3vw 3vw;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #2b68ee;
  color: #ffffff;
}
